<p style="color: green"><%= notice %></p>

<h1 class='text-center'>Public Recipes</h1>

<div class='container public' style='margin-top:2.5rem;'>
<% @recipes.each do |recipe| %>
  <%= link_to recipes_url do %>
      <div class='grid' style='margin-bottom:2rem;'>
        <div class='recipe-card'>
          <div class='flex-col'>
            <p><%= recipe.name %></p>
            <p><%= recipe.user.name %></p>
          </div>
          <div>
            <p>Total Food Items: </p>
            <p>Total Price: </p>
          </div>              
        </div>
      </div>
    <% end %>
  <% end %>
</div>
