<div class='w-full'>
  <h1 class="font-bold text-3xl text-center">Public Recipes</h1>
  <% @recipes.each do |recipe| %> 
    <div class='border border-black w-full'>
      <%= link_to recipe_path(recipe.id) do %>
        <div>
          <div class=''>
            <%= recipe.name %>
          </div>
        </div>
        <div class=''>
          <%= recipe.user.name %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
