/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ------------------- */

/* Custom properties   */

/* ------------------- */

:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* font-sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

/* ------------------- */

/* Reset               */

/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  font-family: var(--ff-serif);
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark));
  line-height: 1.5;
  min-height: 100vh;
}

/* make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */

/* Utility classes     */

/* ------------------- */

/* general */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.grid-container {
  display: grid;
  column-gap: var(--container-gap, 2rem);
  grid-template-columns: repeat(4, minmax(0, 30rem));
  list-style-type: none;
  place-items: center;
  font-size: var(--fs-400);
  /* border: 2px solid hsl(var(--clr-white) / 0.1); */
  /* border-bottom: none; */
  padding: 1rem;
  margin-bottom: 0;
  background-color: hsl(var(--clr-light) / 0.1);
  border: 1px solid hsl(var(--clr-light) / 0.1); /* Use custom property for white color */
  border-radius: 10px;
  box-shadow: hsl(var(--clr-white) / 0.7) 0px 5px 15px;
}

.public-recipe-card {
  grid-template-columns: 1fr 1fr;
}

.public-recipe-card p {
  margin: 0;
  color: hsl(var(--clr-light));
}

.recipe-form-container {
  display: grid;
  grid-template-rows: 1fr 1fr; /* Two rows */
  grid-template-columns: repeat(5, 1fr); /* Six equal columns */
  /* gap: 10px; Add some space between the grid items */
  list-style-type: none;
  place-items: center;
  font-size: var(--fs-400);
  /* border: 2px solid hsl(var(--clr-white) / 0.1); */
  /* border-bottom: none; */
  padding: 1rem;
  margin-bottom: 0;
  background-color: hsl(var(--clr-light) / 0.1);
  border: 1px solid hsl(var(--clr-light) / 0.1); /* Use custom property for white color */
  border-radius: 10px;
  box-shadow: hsl(var(--clr-white) / 0.7) 0px 5px 15px;
}

.upper-section {
  grid-column: 1 / -1; /* Span all columns */
  grid-row: -1; /* Take the upper half */
  width: 100%;
}

.lower-section {
  display: contents; /* Ensure the lower section uses the grid layout of the parent */
  margin-bottom: 0;
}

.lower-section > div {
  grid-column: span 1; /* Each div spans one column */
  margin-top: 0;
  margin-right: 1.4rem;
}

.lower-section > div > * {
  border: none;
  text-align: center;
}

.recipe-input-description {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid hsl(var(--clr-white) / 0.1); /* Use custom property for white color */
  border-radius: 4px;
  background-color: hsl(
    var(--clr-light)
  ); /* Use custom property for light color */
  color: hsl(var(--clr-dark)); /* Use custom property for dark color */
  text-align: center;
}

.recipe-placeholder {
  /* padding: 0.5rem; */
  border: 1px solid hsl(var(--clr-white) / 0.1); /* Use custom property for white color */
  border-radius: 4px;
  background-color: hsl(
    var(--clr-light)
  ); /* Use custom property for light color */
  color: hsl(var(--clr-light)); /* Use custom property for dark color */
  background-color: transparent;
}

.recipe-placeholder:first-of-type {
  margin-left: 1.6rem;
}

.recipe-placeholder > * {
  border: 1px solid hsl(var(--clr-white) / 0.1); /* Use custom property for white color */
  border-radius: 4px;
  background-color: hsl(
    var(--clr-light)
  ); /* Use custom property for light color */
  color: hsl(var(--clr-dark)); /* Use custom property for dark color */
}

.hidden-field {
  display: none;
}

.grid-container:hover {
  transform: scale(1.05);
  box-shadow: hsl(var(--clr-white) / 0.7) 0px 10px 20px;
}

.grid-container li {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-container li:hover {
  transform: scale(1.5);
  /* box-shadow: hsl(var(--clr-white) / 0.7) 0px 10px 20px; */
}

.recipe-grid-container {
  display: grid;
  column-gap: var(--container-gap, 2rem);
  /* grid-template-columns: repeat(4, minmax(0, 30rem)); */
  list-style-type: none;
  place-items: center;
  font-size: var(--fs-400);
  /* border: 2px solid hsl(var(--clr-white) / 0.1); */
  /* border-bottom: none; */
  padding: 1rem;
  margin: 1.5rem 0;
  background-color: hsl(var(--clr-light) / 0.1);
  border: 1px solid hsl(var(--clr-light) / 0.1); /* Use custom property for white color */
  border-radius: 10px;
  box-shadow: hsl(var(--clr-white) / 0.7) 0px 5px 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* colors */

.bg-dark {
  background-color: hsl(var(--clr-dark));
}
.bg-accent {
  background-color: hsl(var(--clr-light));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}
.text-accent {
  color: hsl(var(--clr-light));
}
.text-white {
  color: hsl(var(--clr-white));
}

/* typography */

.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.72px;
}

.numbered-title span {
  margin-right: 0.5em;
  font-weight: 700;
  color: hsl(var(--clr-white) / 0.25);
}

/* ------------------- */

/* Components         */

/* ------------------- */

.normal-button,
.large-button {
  position: relative;
  z-index: 1;
  display: inline-grid;
  place-items: center;
  text-decoration: none;
  background-color: hsl(var(--clr-light));
  color: hsl(var(--clr-dark));
  cursor: pointer;
  border: 1px solid hsl(var(--clr-light) / 0.1); /* Use custom property for white color */
  border-radius: 10px;
  box-shadow: hsl(var(--clr-white) / 0.7) 0px 5px 15px;
}

.normal-button::after,
.large-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: hsl(var(--clr-white) / 0.1);
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.normal-button:hover::after,
.normal-button:focus::after {
  opacity: 1;
  transform: scale(1.25);
  border-radius: 10px;
}

.large-button:hover::after,
.large-button:focus::after {
  opacity: 1;
  transform: scale(1.2);
  border-radius: 10px;
}

.large-button {
  padding: 0.7rem 1.5rem;
}

.normal-button {
  padding: 0.5rem;
}

.primary-header {
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
}

.align-left {
  display: flex;
  justify-content: flex-end;
}

.align-items-center,
.align-items-center * {
  align-items: center;
}

.text-center {
  text-align: center;
}

.primary-navigation {
  --gap: 3rem;
  --underline-gap: 2rem;
  display: flex;
  flex-direction: column;
}

.primary-navigation > li,
.primary-navigation > li > ul > li {
  list-style: none;
}

.secondary-navigation {
  gap: var(--gap);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.primary-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  width: 100%;
}

.primary-link-secondary {
  color: hsl(var(--clr-white) / 0.5);

  border-radius: 10px;
  box-shadow: hsl(var(--clr-white) / 0.7) 0px 5px 15px;
  padding: 0.5rem 1rem;
}

.secondary-navigation > li > a {
  text-decoration: none;
  color: hsl(var(--clr-white) / 0.5);
  border-radius: 10px;
  box-shadow: hsl(var(--clr-white) / 0.7) 0px 5px 15px;
  padding: 0.5rem 1rem;
}

.underline-indicators * {
  cursor: pointer;
  padding: var(--underline-gap, 1rem) 0;
  border: 0;
  border-bottom: 0.2rem solid hsl(var(--clr-white) / 0);
}

.primary-link-secondary:hover,
.primary-link-secondary:focus,
.underline-indicators *:hover,
.underline-indicators *:focus {
  border-color: hsl(var(--clr-light));
  transform: scale(1.15);
}

.primary-link-secondary .active,
.primary-link-secondary [aria-selected="true"],
.underline-indicators * .active,
.underline-indicators * [aria-selected="true"] {
  color: hsl(var(--clr-light));
  border-color: hsl(var(--clr-light));
}

.title,
.links-title {
  text-align: center;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
}

.title > h1 {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  font-size: 60px;
  margin: 10px 0;
}

.title > ul > li > a,
.links-title li a {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  list-style: none;
}

.title > ul > li > a:hover,
.primary-link-secondary:hover,
.links-title li a:hover {
  background-image: none;
  color: var(--clr-light);
  text-decoration: none;
}

.tab-list {
  --gap: 2rem;
}

.recipes-container-header {
  /* there are five columns in the table */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.recipes-container-rows {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.recipes-container-rows div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 2px solid hsl(var(--clr-light) / 0.7);
  place-items: center;
  font-size: var(--fs-400);
  border: 2px solid hsl(var(--clr-white) / 0.1);
  border-bottom: none;
  padding: 1rem;
  margin-top: 1.5rem;
  background-color: hsl(var(--clr-light) / 0.1);
  border-radius: 10px;
  box-shadow: hsl(var(--clr-white) / 0.7) 0px 5px 15px;
  margin-top: 2rem;
}

.recipe-stats > div > p {
}

.recipe-card {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  /* display: grid;
  grid-template-columns: 200px 300px;
  grid-gap: 10px; */
  align-items: center;
  color: white;
  font-weight: 100;
  place-items: center;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  margin: 1rem 0;
}

.public a {
  text-decoration: none;
}

.modal {
  position: fixed;
  background-color: transparent;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: hsl(
    var(--clr-dark)
  ); /* Use custom property for dark color */
  border: none;
}

.modal-content {
  background-color: transparent;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  max-width: 40rem; /* Add a max-width for better responsiveness */
  border: none;
}

.close-button {
  color: hsl(var(--clr-light)); /* Use custom property for dark color */
  float: right;
  font-size: var(--fs-600); /* Use custom property for font size */
  font-weight: bold;
  background: none; /* Remove default button background */
  border: none; /* Remove default button border */
  cursor: pointer; /* Add pointer cursor */
}

.close-button:hover,
.close-button:focus {
  text-decoration: none;
  transform: scale(1.05);
}

.hidden {
  display: none;
}

/* Form Styles */
.food-form {
  background-color: hsl(
    var(--clr-dark)
  ); /* Use custom property for dark color */
  padding: 2rem;
  border-radius: 8px;
  max-width: 500px;
  margin: 0 auto; /* Center the form */
  color: hsl(var(--clr-white)); /* Use custom property for white color */
  text-align: center;
  border: 1px solid hsl(var(--clr-light) / 0.1); /* Use custom property for white color */
  border-radius: 10px;
  box-shadow: hsl(var(--clr-white) / 0.7) 0px 5px 15px;
}

.form-title {
  font-size: var(--fs-600); /* Use custom property for font size */
  margin-bottom: 1rem;
}

.form-errors {
  color: red;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: var(--fs-400); /* Use custom property for font size */
}

.form-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid hsl(var(--clr-white) / 0.1); /* Use custom property for white color */
  border-radius: 4px;
  background-color: hsl(
    var(--clr-light)
  ); /* Use custom property for light color */
  color: hsl(var(--clr-dark)); /* Use custom property for dark color */
}

.form-input:focus {
  border-color: hsl(
    var(--clr-white) / 0.5
  ); /* Use custom property for white color */
  outline: none;
}

.form-submit {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: hsl(
    var(--clr-light)
  ); /* Use custom property for light color */
  color: hsl(var(--clr-dark)); /* Use custom property for dark color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: var(--fs-400); /* Use custom property for font size */
}

.form-submit:hover,
.form-submit:focus {
  background-color: hsl(
    var(--clr-white)
  ); /* Use custom property for white color */
  color: hsl(var(--clr-dark)); /* Use custom property for dark color */
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.auth-inner-container {
  border: 1px solid hsl(var(--clr-light) / 0.1); /* Use custom property for white color */
  padding: 2rem;
  box-shadow: hsl(var(--clr-white) / 0.7) 0px 5px 15px;
}

.auth-inner-container * {
  margin-bottom: 0.7rem;
}

.auth-container-hero {
  font-size: var(--fs-600); /* Use custom property for font size */
  font-weight: bold;
}

.auth-field {
  border: 1px solid hsl(var(--clr-light) / 0.1); /* Use custom property for white color */
  border-radius: 10px;
  box-shadow: hsl(var(--clr-white) / 0.7) 0px 5px 15px;
}
